p{
  color: blue;
  text-align: center;
  font-size: 25px
}

a{
  color: green;
  text-align: center;
  cursor:pointer;
}
a:HOVER{
  font-size: 25px;

  color: green;
}

img{
  img-size: 10px;
  img-align:center;
}

html,body{
  background_color: blue;
}
