p{
  color: orange;
  text-align: center;
}

a{
  color: green;
}

img{
  img-size: 10px;
  img-aligh:center;
}

html,body{
  background_color: blue;
  -webkit-overflow-scrolling: touch;
}

.demo::-webkit-scrollbar{
  diaplay:none;
}

.button{
  
}
